.categoryBtn{
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(217, 241, 159);
    color: black;
}

.text{
    font-size: 16px;
    margin: 5px 5px;
}

.active{
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(8, 113, 61);
    color: rgb(255, 255, 255);
}

@media (max-width: 1100px) {
    .categoryBtn, .active{
        margin-top: 5px;
    }
}